{% extends 'base.html' %}

{% block title %}环境比较工具{% endblock %}

{% block styles %}
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="text-align:center;">
        <h1>环境比较工具</h1>
    </div>
    <hr>
        {% block page_content %}
            <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <table class="table table-hover menu-table">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td><a class="option-text" href="{{ url_for('local_cmp') }}" id="localCmp">1. 进行本地目录比较</a></td>
                    </tr>
                    <tr>
                        <td><a class="option-text" href="{{ url_for('remote_cmp') }}" id="remoteCmp">2. 进行远程目录比较</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        {% endblock %}
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}" type="text/javascript"></script>
{% endblock %}