{% extends 'base.html' %}

{% block title %}本地比较{% endblock %}

{% block styles %}
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/local.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row" style="text-align:center;">
        <h1>本地比较</h1>
    </div>
    <hr>
    {% block page_content %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6 show-list" style="border-right:grey dashed 2px;">
                    <table class="table dir-table">
                        <caption><h4>A目录选择</h4></caption>
                        <tbody>
                            {% for dir in lst_a %}
                            <tr>
                                <td><input type="radio" name="lst-a-option" value="{{ dir }}" />{{ dir }}</td>
                            </tr>
                            {% endfor %}
                            <tr><td><input type="radio" name="lst-a-option" class="other-option" value="__OTHER__" />其他</td></tr>
                            <tr><td><input class="form-control lst-a-option other-input" placeholder="请输入本地目录"></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 show-list">
                    <table class="table dir-table">
                        <caption><h4>B目录选择</h4></caption>
                        <tbody>
                            {% for dir in lst_b %}
                            <tr>
                                <td><input type="radio" name="lst-b-option" value="{{ dir }}" />{{ dir }}</td>
                            </tr>
                            {% endfor %}
                            <tr><td><input type="radio" name="lst-b-option" class="other-option" value="__OTHER__" />其他</td></tr>
                            <tr><td><input class="form-control lst-b-option other-input" placeholder="请输入本地目录"></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2" align="center">
                    <a href="javascript:void(0)" id="submit" class="like-button">提交</a>
                </div>
                <div class="col-lg-2" align="center">
                    <a href="{{ url_for('index') }}" class="like-button">返回</a>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <div class="container result">
    </div>
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='layer/layer.js') }}"></script>
    <script src="{{ url_for('static',filename='js/local.js') }}"></script>
{% endblock %}